.additional-goods {
  padding-bottom: 35px;
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-goods__item {
  border-top: 1px solid $color-line-variant;

  &:last-child {
    border-bottom: 1px solid $color-line-variant;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__list {
    border: 1px solid $color-additional;
  }

  .additional-goods__item {
    margin-bottom: 29px;
    padding-top: 12px;
    padding-left: 38px;
    padding-right: 34px;

    &:last-child {
      border-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__list {
    border: 0;
  }

  .additional-goods__item {
    margin: 0;
    padding: 0;
  }

  .additional-goods__intro {
    display: flex;
    justify-content: space-between;
  }

  .additional-goods__wrapper {
    width: 896px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
