.advantages {
    padding-bottom: 42px;
}

.advantages__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: $color-black;
}

.advantages__list {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    list-style: none;
    color: $color-dark-gray;
}
