.copyright {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
}

.copyright__link {
  margin: 0;
  padding: 0 19px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $color-dark-gray;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 66px 20px;
    padding-right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding: 65px 111px;
  }
}
