.form__field {
  padding-bottom: 15px;

  @media (max-width: 767px) {
    &-position {
      margin-top: 23px;
      margin-bottom: 4px;
    }
  }
}

.form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;
}

.form__control-email {
  width: 219px;
  height: 45px;
  margin-top: 10px;
  margin-left: 7px;
  padding-left: 15px;
  padding-top: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;
  border: 1px solid $color-additional;
  position: relative;
  outline: none;
}

.form__control {
  &-color {
    &--icon {
      position: absolute;
      right: 36px;
      bottom: 75px;
      stroke: $color-stroke;

      &:hover {
        stroke: $color-stroke;
      }
    }

    &--phone {
      position: absolute;
      right: 33px;
      bottom: 13px;
    }
  }

  &:focus {
    border: 2px solid $color-active;
  }

  &:hover {
    border-color: $color-additional;
  }

  &:disabled {
    border: 2px solid $color-dark-gray;
  }

  &:disabled + &--color {
    stroke: $green;
    fill: $green;
  }

  &:focus + &--color {
    stroke: $color-active;
    fill: $color-active;
  }
}

.form__position {
  width: 280px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;

  &--line::before {
    content: "";
    position: absolute;
    top: 68px;
    right: 0;
    width: 31%;
    border-bottom: 2px solid $green;
  }

  &--bar::before {
    content: "";
    position: absolute;
    top: 36px;
    right: 0;
    width: 49%;
    border-bottom: 2px solid $green;
  }

  &--stripe::before {
    content: "";
    position: absolute;
    top: 38px;
    right: 0;
    width: 42%;
    border-bottom: 2px solid $green;
  }
}

.form__control-number {
  width: 204px;
  height: 45px;
  margin-top: 5px;
  padding-left: 16px;
  margin-left: 7px;
  padding-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;
  border: 1px solid $color-additional;
  outline: none;
}

.form__control-name {
  width: 229px;
  height: 45px;
  margin-left: 10px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $color-border;
  outline: none;
}

.form__control-weight {
  width: 204px;
  height: 45px;
  margin-left: 13px;
  padding-left: 16px;
  border: 1px solid $color-border;
  outline: none;
}

.form__control-age {
  width: 172px;
  height: 45px;
  margin-left: 11px;
  padding-left: 16px;
  border: 1px solid $color-border;
  outline: none;
}

.form__type {
  display: block;
  position: relative;
  padding-top: 26px;
  padding-left: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-special-dark-balck;

  &-radio:hover + ::before {
    border-color: $color-hover-circle;
  }

  &-radio:disabled + &-position {
    opacity: 0.3;
    border-color: $color-hover-circle;
  }

  @media (max-width: 767px) {
    &-position {
      padding-left: 45px;
      padding-top: 29px;
    }
  }

  &-radio + ::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid $color-additional;
    border-radius: 50%;
  }

  @media (max-width: 767px) {
    &-radio:first-child + ::before {
      top: 23px;
    }
  }

  &-radio:checked + ::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 9px;
    width: 13px;
    height: 13px;
    background-color: $green;
    border-radius: 50%;
  }
}

.form__type-additionally {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;

  &--checkbox:hover + ::before {
    border-color: $color-hover-circle;
  }

  &--checkbox:disabled + &--style {
    opacity: 0.3;
    border-color: $color-hover-circle;
  }

  &--checkbox + ::before {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: -47px;
    width: 30px;
    height: 30px;
    border: 1px solid $color-additional;

    &:focus {
      background-color: red;
    }
  }

  &--checkbox:checked + ::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -38px;
    width: 12px;
    height: 16px;
    border: solid $green;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

@media (min-width: $tablet-width) {
  .form__field {
    padding-bottom: 20px;
  }

  .form__position {
    width: 768px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
  }

  .form__control-name {
    margin-left: 12px;
    padding-left: 19px;
    width: 567px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__control-weight {
    margin-left: 16px;
    padding-left: 20px;
    width: 536px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__control-age {
    margin-left: 13px;
    padding-left: 20px;
    width: 497px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__type {
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 88px;

    &-radio + ::before {
      left: 27px;
      top: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid $color-additional;
      border-radius: 50%;
    }

    &-radio:checked + ::after {
      top: 21px;
      left: 39px;
      width: 18px;
      height: 18px;
      background-color: $green;
      border-radius: 50%;
    }
  }

  .form__control-number {
    width: 535px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
    margin-left: 13px;
  }

  .form__control-email {
    width: 551px;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 7px;
    margin-left: 17px;
    padding-top: 1px;
    padding-left: 21px;
  }

  .form__type-additionally {
    font-size: 20px;
    line-height: 30px;

    &--checkbox + ::before {
      top: -5px;
      left: -60px;
      width: 40px;
      height: 40px;
      border: 1px solid $color-additional;
    }

    &--checkbox:checked + ::after {
      top: 3px;
      left: -46px;
      width: 12px;
      height: 16px;
      border: solid $green;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  .form {
    position: relative;

    &--line::before {
      top: 98px;
      right: 0;
      width: 19%;
    }

    &--line::after {
      content: "";
      position: absolute;
      top: 98px;
      left: 0;
      width: 4%;
      border-bottom: 2px solid $green;
    }

    &--bar::before {
      top: 86px;
      right: 0;
      width: 62%;
    }

    &--bar::after {
      content: "";
      position: absolute;
      top: 86px;
      left: 0;
      width: 4%;
      border-bottom: 2px solid $green;
    }

    &--stripe::before {
      top: 86px;
      right: 0;
      width: 58%;
    }

    &--stripe::after {
      content: "";
      position: absolute;
      top: 86px;
      left: 0;
      width: 4%;
      border-bottom: 2px solid $green;
    }
  }

  .form__control {
    &-color {
      &--icon {
        right: 85px;
        bottom: 90px;
      }

      &--phone {
        right: 83px;
        bottom: 14px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .form__control-name {
    width: 506px;
    height: 52px;
    margin-left: 13px;
    padding-left: 20px;
  }

  .form__type {
    padding-top: 15px;
    padding-left: 87px;

    &-position {
      padding-bottom: 10px;
    }
  }

  .form__position {
    width: 1220px;
  }

  .form__field-position {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .form__control-weight {
    width: 475px;
    height: 52px;
    margin-left: 16px;
    padding-left: 20px;
  }

  .form__control-age {
    width: 436px;
    height: 52px;
    padding-left: 17px;
    margin-left: 14px;
  }

  .form {
    position: relative;

    &--line::before {
      top: 72px;
      right: 0;
      width: 54%;
    }

    &--line::after {
      top: 72px;
      left: 0;
      width: 5%;
    }

    &--bar::before {
      top: 22px;
      right: 0;
      width: 77%;
    }

    &--bar::after {
      top: 22px;
      left: 0;
      width: 5%;
    }

    &--stripe::before {
      top: 88px;
      right: 0;
      width: 75%;
    }

    &--stripe::after {
      top: 87px;
      left: 0;
      width: 5%;
    }
  }

  .form__control-email {
    width: 486px;
    height: 52px;
    margin-top: 9px;
    margin-left: 17px;
    padding-left: 18px;
  }

  .form__control-number {
    width: 472px;
    height: 52px;
    margin-left: 14px;
    padding-left: 17px;
    padding-top: 0;
  }

  .form__control {
    &-color {
      &--icon {
        right: 779px;
        bottom: 85px;
      }

      &--phone {
        right: 127px;
        bottom: 82px;
      }
    }
  }

  .form__type-additionally:nth-child(2) {
    width: 129px;
  }
}
