.geo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 19px;
  background-color: white;
  margin-bottom: 22px;
  padding-top: 30px;
}

.geo__title {
  margin: 0;
  padding: 0;
  width: 140px;
  height: 64px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $color-special-black;
  text-transform: uppercase;
}

.geo__color--toggle {
  background-color: inherit;
}

.geo__description {
  margin: 0;
  padding: 0;
  width: 140px;
  height: 50px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-gray;
}

@media (min-width: $tablet-width) {
  .geo {
    height: 201px;
    margin-bottom: 0;
  }

  .geo__color--toggle {
    padding-top: 61px;
    background-color: inherit;
  }

  .geo__title {
    width: 171px;
    height: 74px;
    margin-top: 2px;
    margin-left: 52px;
    font-size: 20px;
    line-height: 25px;
  }

  .geo__description {
    width: 159px;
    height: 80px;
    margin-right: 52px;
    padding-left: 4px;
    font-size: 16px;
    line-height: 20px;
    text-indent: 60px;

    &--city {
      display: inline-block;
      margin-top: 20px;
      text-indent: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .geo {
    position: absolute;
    margin: 93px 110px;
    width: 570px;
    height: 201px;
  }

  .geo__title {
    padding-top: 3px;
    padding-left: 5px;
  }

  .geo__color--toggle {
    background-color: $color-white;
  }

  .geo__description {
    width: 270px;
    height: 60px;
    padding-left: 90px;
    padding-top: 3px;
    text-indent: 0;

    &--city {
      text-indent: 0;
    }
  }
}
