.item-card__name {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-special-dark-balck;
}

.item-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 13px;
  margin-bottom: 16px;
}

.item-card__info {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.item-card__info-name {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $color-dark-gray;
}

.item-card__info-price {
  padding: 0;
  text-align: right;
}

.item-card__info-value {
  padding: 0;
}

.item-card__link {
  margin-top: 13px;
  width: 280px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 9px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  background-color: $green;
}

@media (min-width: $tablet-width) {
  .item-card {
    flex-direction: row;
  }

  .item-card__name {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
  }

  .item-card__link {
    width: 632px;
    height: 38px;
    font-size: 16px;
    line-height: 0;
    padding-top: 20px;
  }

  .item-card__info-value {
    text-align: right;
    width: 190px;
  }

  .item-card___info {
    width: 285px;
  }

  .item-card__info-name {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .item-card {
    margin: 0;
    padding: 0;
    padding-top: 18px;
  }

  .item-card__link {
    width: 244px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .item-card___info {
    margin-top: 10px;
  }

  .item-card__info-value {
    text-align: left;
  }

  .item-card__name {
    padding-top: 7px;
    padding-left: 2px;
    padding-right: 50px;
  }
}
