.item-title__position {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 33px;
  margin-right: 54px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    right: -74px;
    width: 23%;
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $tablet-width) {
  .item-title__position {
    font-size: 36px;
    line-height: 36px;
    padding-top: 69px;
    margin-right: 296px;
    padding-bottom: 80px;

    &::before {
      width: 80%;
      top: 91px;
      right: -326px;
    }

    &::after {
      content: "";
      position: absolute;
      left: -30px;
      top: 92px;
      width: 7%;
      border-bottom: 2px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .item-title__position {
    padding-top: 29px;
    padding-bottom: 82px;
    margin-left: -587px;

    &::after {
      top: 53px;
      left: 473px;
      width: 5%;
    }

    &::before {
      top: 53px;
      right: -405px;
      width: 63%;
    }
  }
}
