.item-title__position {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 33px;
  margin-right: 54px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .item-title__position {
    font-size: 36px;
    line-height: 36px;
    padding-top: 69px;
    margin-right: 296px;
    padding-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .item-title__position {
    padding-top: 29px;
    padding-bottom: 82px;
    margin-left: -586px;
  }
}
