.main-promo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: normal;
  background: linear-gradient(to bottom, $bg-green 50%, $color-white 50%);
  text-transform: uppercase;
  color: $color-white;
  text-align: center;
}

.main-promo__title {
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.main-promo__slogan {
  padding: 0;
  margin: 0;
  padding-bottom: 26px;
}

.main-promo__link {
  display: inline-block;
  padding: 12px 26px;
  width: 280px;
  height: 40px;
  color: $color-white;
  text-decoration: none;
  background-color: $green;
}

.main-promo img {
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .main-promo {
    padding-top: 45px;
    background: $color-white;
  }

  .main-promo__wrapper {
    padding: 0 112px;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    color: $color-black;
    text-align: left;
  }

  .main-promo__title {
    padding: 0;
    margin: 0;
    padding-left: 6px;
    padding-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    order: 1;
  }

  .main-promo__slogan {
    padding: 0;
    margin: 0;
    padding-left: 6px;
    padding-bottom: 49px;
    order: 2;
  }

  .main-promo__link {
    display: inline-block;
    padding: 17px 26px;
    width: 244px;
    height: 54px;
    color: $color-white;
    text-decoration: none;
    background-color: $green;
    order: 3;
  }

  .main-promo__image {
    order: 4;
  }

  .main-promo picture {
    order: 4;
  }

  .main-promo__position {
    padding-bottom: 22px;
  }

  .main-promo img {
    width: 709px;
    height: 505px;
  }
}

@media (min-width: $desktop-width) {
  .main-promo {
    margin-bottom: 50px;
  }

  .main-promo picture {
    margin-left: 480px;
    margin-top: -330px;
    z-index: 1;
  }

  .main-promo__wrapper {
    padding: 0 190px;
    padding-right: 370px;
  }

  .main-promo__title {
    padding-top: 3px;
    padding-left: 0;
    padding-bottom: 40px;
  }

  .main-promo__slogan {
    padding-left: 0;
    padding-bottom: 52px;
  }

  .main-promo__position {
    padding-bottom: 42px;
  }
}
