.map__toggle--color {
  background-color: $color-special-gray;
}

@media (min-width: $desktop-width) {
  .map {
    display: flex;
    width: 1440px;
    height: 400px;
    background-color: green;
  }
}
