.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--color {
    margin-top: 16px;
    background-color: $color-special-gray;
  }

  &--position {
    margin-top: 0;
    background-color: $color-special-gray;
  }
}

.map--toggle {
  background-color: inherit;
}

.map__iframe-google {
  min-width: 320px;
  height: 362px;
  border: none;
}

@media (min-width: 767px) {
  .map--toggle {
    margin-top: 0;
  }

  .map--color {
    margin-top: 0;
  }

  .map__iframe-google {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map__iframe-google {
    width: 1440px;
    height: 400px;
  }

  .map {
    &--color {
      margin-top: 54px;
    }
  }
}
