.page-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
}

.page-header__index-page {
  padding-bottom: 27px;
}
