.page-footer {
  height: 236px;
  background-color: $color-special-gray;
}

.page-footer__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-footer__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-footer__logo-icon--position {
  margin-top: 36px;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__intro {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .page-footer {
    height: 150px;
  }

  .page-footer__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
  }

  .page-footer__logo-icon--position {
    margin-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 1px;
    height: 149px;
  }

  .page-footer__position {
    width: 1300px;
  }

  .page-footer__logo-icon {
    margin-left: 20px;

    &--position {
      margin-top: 46px;
    }
  }
}
