.page-catalog__position {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
}

.page-catalog__title {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  padding-right: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 66px;
      width: 100%;
      height: 1px;
      background: $color-line;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-catalog__position {
    width: 768px;
  }

  .page-catalog__title {
    padding-top: 34px;
    padding-bottom: 84px;
    padding-right: 278px;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-catalog__position {
    width: 1440px;
  }

  .page-catalog__title {
    padding-top: 19px;
    text-align: left;
    margin-right: 510px;
  }
}
