.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 28px;
}

.page-header__wrapper--bar {
  height: 66px;
  padding-top: 12px;
  padding-left: 20px;
  border-bottom: 1px solid $color-line;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__wrapper--bar {
    padding-top: 25px;
    padding-left: 30px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 0;
    padding: 33px 30px;
  }


  .page-header__index-page--color {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 720px;
      height: 694px;
      background-color: $bg-green;
    }
  }

  .page-header__wrapper--bar {
    padding-top: 20px;
    padding-left: 80px;
  }
}
