.regimen-cards {
  padding-bottom: 27px;
}

.regimen-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.regimen-cards__item {
  background-color: $color-special-gray;
}

.regimen-cards__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: $color-black;
  text-transform: uppercase;
}

.regimen-cards__description {
  font-family: "Arial", sans-serif;
  color: $color-dark-gray;
}

.regimen-cards__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .regimen-cards {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }

  .regimen-cards__item {
    min-width: 708px;
    min-height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .regimen-cards__list {
    display: flex;
    flex-direction: row;
  }

  .regimen-cards__item:last-child {
    margin-left: 70px;
  }

  .regimen-cards__item {
    min-width: 570px;
    min-height: 370px;
  }
}
