.request__field {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

@media (max-width: 767px) {
  .request__write {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;

    &--line::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 96px;
      width: 100%;
      border-bottom: 1px solid $color-line;
    }

    &--line::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -60px;
      width: 100%;
      border-bottom: 1px solid $color-line;
    }
  }
}

.request__title-line {
  margin: 0;
  padding: 0;
  padding-top: 53px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;

  &--bar::before {
    content: "";
    position: absolute;
    top: 69px;
    right: -18px;
    width: 99px;
    border-bottom: 2px solid $green;
  }

  &--stripe::before {
    content: "";
    position: absolute;
    top: 15px;
    right: -18px;
    width: 158px;
    border-bottom: 2px solid $green;
  }

  &--stria::before {
    content: "";
    position: absolute;
    top: 35px;
    right: -18px;
    width: 136px;
    border-bottom: 2px solid $green;
  }

  &--size {
    padding-top: 20px;
    padding-bottom: 39px;
  }
}

.request__textarea {
  width: 280px;
  height: 150px;
  padding: 8px 13px;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;
  resize: none;
  border: 1px solid $color-border;
}

.request__button {
  width: 280px;
  height: 40px;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $green;
  border: none;
}

.request__text {
  padding-top: 9px;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  text-align: center;
}

.request__write--down {
  display: block;
  padding-left: 47px;
  padding-right: 57px;
  padding-bottom: 25px;

  &:last-child {
    padding-right: 97px;
  }
}

@media (min-width: $tablet-width) {
  .request__field--border {
    margin-top: 52px;
    padding-top: 15px;
    width: 630px;
    height: 196px;
    border: 1px solid $color-border;
  }

  .request__title-line {
    padding-top: 76px;
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 36px;
    line-height: 36px;

    &--bar::before {
      top: 97px;
      left: -29px;
      width: 30px;
    }

    &--bar::after {
      content: "";
      position: absolute;
      top: 97px;
      right: -28px;
      width: 145px;
      border-bottom: 2px solid $green;
    }

    &--stripe::before {
      top: 25px;
      right: -28px;
      width: 478px;
    }

    &--stripe::after {
      content: "";
      position: absolute;
      top: 25px;
      left: -28px;
      width: 30px;
      border-bottom: 2px solid $green;
    }

    &--stria::before {
      top: 85px;
      right: -28px;
      width: 446px;
    }

    &--stria::after {
      content: "";
      position: absolute;
      top: 85px;
      left: -30px;
      width: 30px;
      border-bottom: 2px solid $green;
    }

    &--size {
      padding-top: 62px;
      padding-bottom: 62px;
    }
  }

  .request__position-phone {
    padding-left: 39px;
    padding-top: 7px;
    padding-bottom: 40px;
  }

  .request__position {
    padding: 0 42px;
  }

  .request__textarea {
    width: 631px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 9px;
    padding-left: 18px;
    margin-left: 41px;
    margin-top: 77px;
    border: 1px solid $color-border;
  }

  .request__info--edit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
    height: 140px;
  }

  .request__info--edit-control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
    height: 146px;
  }

  .request__write--down {
    display: block;
    padding-left: 100px;
    padding-right: 57px;

    &:last-child {
      padding-right: 97px;
    }
  }

  .request__button {
    width: 282px;
    height: 52px;
    font-size: 20px;
    line-height: 0px;
    margin-left: 43px;
    margin-top: 15px;
  }

  .request__text {
    font-size: 16px;
    line-height: 16px;
    padding-top: 14px;
    padding-right: 65px;
  }
}

@media (min-width: $desktop-width) {
  .request__info {
    display: flex;
    flex-direction: row;
  }

  .request__field--border {
    width: 570px;
    height: 196px;
    margin-top: 0;
    padding-top: 16px;
    margin-left: 80px;
  }

  .request__title-line {
    padding-top: 51px;

    &--bar::before {
      top: 73px;
      left: -70px;
      width: 70px;
    }

    &--bar::after {
      top: 73px;
      right: -70px;
      width: 778px;
    }

    &--stripe::before {
      top: 24px;
      right: -70px;
      width: 1108px;
    }

    &--stripe::after {
      top: 24px;
      left: -70px;
      width: 70px;
    }

    &--stria::before {
      top: 88px;
      right: -70px;
      width: 1078px;
    }

    &--stria::after {
      top: 87px;
      left: -70px;
      width: 70px;
    }

    &--size {
      padding-top: 64px;
      padding-bottom: 62px;
    }
  }

  .request__position-phone {
    padding-top: 35px;
    padding-left: 36px;
    padding-bottom: 42px;
  }

  .request__textarea {
    width: 1220px;
    height: 174px;
  }

  .request__info--edit-control {
    display: grid;
    grid-template-columns: repeat(4, 326px);
    height: 80px;
  }

  .request__write--down {
    padding: 0 98px;
  }

  .request__button {
    width: 568px;
    height: 52px;
  }

  .request__info--edit {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 135px;
  }

  .request__text {
    padding-top: 17px;
    padding-left: 80px;
  }
}
