.request {
  width: 100%;
}

.request__field {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;

  &-position {
    align-items: center;
    margin-top: 1px;
  }
}

.request__position {
  width: 280px;
  margin: 0 auto;
}

.request__info {
  width: 280px;
  margin: 0 auto;

  &-edit {
    margin-left: -50px;
  }
}

.request__position-phone {
  margin-left: -2px;
  margin-top: 9px;
}

.request__position--email {
  margin-left: -1px;
  margin-top: 23px;
}

@media (max-width: 767px) {
  .request__write {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;

    &-line::before {
      content: "";
      position: absolute;
      left: 0;
      top: 426px;
      width: 100%;
      border-bottom: 1px solid $color-line;
    }

    &-line--bottom::before {
      content: "";
      position: absolute;
      left: 0;
      top: 585px;
      width: 100%;
      border-bottom: 1px solid $color-line;
    }
  }
}

.request__title-line {
  margin: 0;
  padding: 0;
  margin-left: -1px;
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
  position: relative;

  &--stripe {
    margin-left: -161px;
    padding-top: 22px;
  }

  &--size {
    margin-left: -141px;
    padding-top: 23px;
    padding-bottom: 40px;
  }
}

.request__textarea {
  width: 280px;
  height: 150px;
  padding: 8px 13px;
  margin-top: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;
  resize: none;
  border: 1px solid $color-border;
}

.request__info-position {
  width: 280px;
  margin: 0 auto;
}

.request__button {
  width: 280px;
  height: 40px;
  margin-left: 0;
  margin-top: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $green;
  border: none;
}

.request__text {
  padding-top: 8px;
  padding-left: 2px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  text-align: center;
}

.request__write-down {
  display: block;
  padding-left: 47px;
  padding-right: 57px;
  padding-bottom: 26px;

  &:last-child {
    padding-right: 97px;
  }
}

@media (min-width: $tablet-width) {
  .request__field--border {
    margin-top: 52px;
    padding-top: 15px;
    width: 630px;
    height: 196px;
    border: 1px solid $color-border;
  }

  .request__position {
    width: 630px;
    align-items: center;
    justify-content: center;
  }

  .request__position--email {
    margin-top: 30px;
    margin-left: 1px;
    width: 636px;
  }

  .request__title-line {
    padding-top: 76px;
    padding-left: 0;
    padding-bottom: 39px;
    font-size: 36px;
    line-height: 36px;

    &--stripe {
      padding-top: 65px;
      margin-left: 0;
      margin-right: 450px;
    }

    &--size {
      margin-left: 0;
      margin-right: 417px;
      padding-top: 64px;
      padding-bottom: 62px;
    }
  }

  .request__position-phone {
    padding-left: 0;
    padding-top: 5px;
    width: 635px;
  }

  .request__textarea {
    width: 631px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 9px;
    padding-left: 18px;
    margin-left: 0;
    margin-top: 37px;
    border: 1px solid $color-border;
  }

  .request__info-edit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 630px;
    height: 140px;
    margin-left: -78px;
  }

  .request__info-edit--control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
  }

  .request__write-down {
    display: block;
    padding-left: 99px;
    padding-right: 59px;
    padding-bottom: 44px;

    &:last-child {
      padding-right: 97px;
    }
  }

  .request__button {
    width: 282px;
    height: 52px;
    font-size: 20px;
    line-height: 0px;
    margin-left: -16px;
    margin-top: 21px;
  }

  .request__text {
    font-size: 16px;
    line-height: 16px;
    padding-top: 20px;
    margin-left: -77px;
  }

  .request__info {
    width: 630px;
  }

  .request__info-bid {
    display: flex;
    height: 146px;
  }
}

@media (min-width: $desktop-width) {
  .request__info {
    display: flex;
    flex-direction: row;
    width: 1220px;
  }

  .request__field--border {
    width: 570px;
    height: 196px;
    margin-top: -17px;
    padding-top: 16px;
    margin-left: 80px;
  }

  .request__title-line {
    padding-top: 51px;

    &--bar {
      width: 750px;
    }

    &--stripe {
      padding: 0;
      margin-left: -591px;
    }

    &--size {
      margin-left: -594px;
      padding-top: 65px;
      padding-bottom: 38px;
    }
  }

  .request__position-phone {
    padding-top: 22px;
    padding-left: 26px;
    padding-bottom: 42px;
    width: 600px;
  }

  .request__textarea {
    width: 1220px;
    height: 174px;
    padding-left: 18px;
    margin-top: 77px;
    padding-top: 9px;
  }

  .request__info-edit--control {
    display: grid;
    grid-template-columns: repeat(4, 326px);
    margin-left: 1px;
  }

  .request__write-down {
    padding: 0 98px;

    &:last-child {
      padding-left: 98px;
    }
  }

  .request__button {
    width: 568px;
    height: 52px;
    margin-top: 40px;
    margin-left: -164px;
  }

  .request__info-edit {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 1300px;
    height: 80px;
    margin-left: 2px;
  }

  .request__text {
    padding-top: 42px;
    padding-left: 0;
    margin-left: -350px;
  }

  .request__position--email {
    margin-top: 27px;
    margin-bottom: 66px;
    margin-left: 0;
    width: 600px;
  }

  .request__info-bid {
    height: 122px;
  }
}
