.request__field {
  margin: 0;
  padding: 0;
  border: none;
}

.request__title-line {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
}

.request__textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;
  resize: none;
}

.request__button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $green;
}

.request__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
}
