.site-list__link {
  position: relative;
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid $color-line-gray;
  color: $color-black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 36px;
  }

  .site-list__link {
    border: none;
  }

  .site-list__item {
    display: block;
    padding-left: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: $tablet-width) {
  .site-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding: 13px 80px;
  }

  .site-list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .site-list__link {
    color: $color-white;
  }

  .site-list__link--color {
    color: $color-special-black;
  }
}
