.site-list__link {
  color: $color-black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .site-list__item {
    display: block;
    padding: 20px 20px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    color: $color-white;
  }
}
