.social__list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 52px;
  padding-left: 20px;
  width: 300px;
}

.social__item {
  display: block;
  padding: 0 10px;
}

@media (min-width: $tablet-width) {
  .social__list {
    min-width: 350px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    min-width: 700px;
    padding: 0 90px;
  }
}
