.social {
  position: relative;

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      width: 280px;
      top: 30px;
      right: -76px;
      border-top: 1px solid $color-line;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 30px;
      right: -76px;
      width: 280px;
      border-bottom: 1px solid $color-line;
    }
  }
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 48px;
  padding-top: 49px;
  width: 130px;
}

.social__item {
  display: block;
  padding: 0 18px;

  &:first-child {
    padding-left: 12px;
  }

  &:nth-child(2) {
    padding-left: 16px;
    margin-top: 3px;
  }

  &:last-child {
    margin-left: 2px;
    padding-left: 13px;
  }
}

.social__link {
  outline: none;
  text-decoration: none;

  &-fb {
    width: 22px;
    height: 22px;
    stroke: $color-stroke-fb;

    &:hover {
      stroke: $green;
    }
  }

  &-vk {
    width: 27px;
    height: 17px;

    &:hover {
      fill: $green;
    }
  }

  &-instagram {
    width: 16px;
    height: 16px;

    &:hover {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
    margin-top: 48px;
    margin-left: 20px;
  }

  .social__link {
    &-instagram--icon {
      width: 23px;
      height: 23px;
    }

    &-fb--icon {
      width: 28px;
      height: 33px;
    }

    &-vk--icon {
      width: 30px;
      height: 22px;
    }
  }

  .social__item {
    display: block;
    padding: 0;

    &:first-child {
      padding-right: 21px;
      padding-left: 4px;
    }

    &:nth-child(2) {
      padding-left: 5px;
    }

    &:last-child {
      margin-left: 9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding: 0;
    margin-top: 45px;
    margin-left: 57px;
  }

  .social__item {
    &:first-child {
      padding-right: 22px;
      padding-left: 5px;
    }

    &:nth-child(2) {
      padding-left: 5px;
      margin-top: 4px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }
}
