.special {
  margin-top: 37px;
  background-image: url("../img/gift-photo-mobile@1x.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 289px;
  text-align: center;
  margin-bottom: 34px;
  position: relative;

  @media (min-resolution: 144dpi), (min-width: 1440px), (min-resolution: 1.5dppx), (min-width: 1440px) {
    background-image: url("../img/gift-photo-desktop@2x.png");
    background-size: cover;
  }
}

.special__wrapper-icon {
  margin-top: 58px;
}

.special__description {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-right: 2px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
}

@media (min-width: $tablet-width) {
  .special {
    width: 708px;
    height: 200px;
    margin-top: 70px;
    background-image: url("../img/gift-photo-tablet@1x.png");
    background-repeat: no-repeat;
    margin-bottom: 77px;
  }

  .special__description {
    text-align: left;
    padding-left: 423px;
    padding-top: 72px;
  }

  .special__wrapper-icon {
    margin-top: 58px;
    position: absolute;
    left: 79px;
  }
}

@media (min-width: $desktop-width) {
  .special {
    width: 245px;
    height: 289px;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.png");
    background-repeat: no-repeat;
    margin-bottom: 84px;
  }

  .special__description {
    padding-left: 0;
    text-align: center;
    padding-top: 186px;
  }

  .special__wrapper-icon {
    margin-top: 56px;
    left: 85px;
  }
}
