//  Colors
$color-dark-gray: #444444;
$color-white: #ffffff;
$color-special-black: #111111;
$color-black: #000000;
$color-special-dark-balck: #222222;
$green: #68b738;
$color-special-gray: #F2F2F2;
$bg-green: rgba(104, 183, 56, 0.85);
$bg-gray: #EAEAEA;
$bg-gray-silver: #C4C4C4;
$color-line: #D9D9D9;
$color-line-gray:#E6E6E6;
