//  Colors
$color-dark-gray: #444444;
$color-white: #ffffff;
$color-special-black: #111111;
$color-black: #000000;
$color-special-dark-balck: #222222;
$green: #68b738;
$color-special-gray: #f2f2f2;
$bg-green: rgba(104, 183, 56, 0.85);
$bg-gray: #eaeaea;
$bg-gray-silver: #c4c4c4;
$color-line: #d9d9d9;
$color-line-gray:#e6e6e6;
$color-line-variant:#EBEBEB;
$color-additional:#CDCDCD;
